html{
    font-size: 20px;
    font-family: sans-serif;
}

header {
    height: 3rem;
    width: 100%;
    background-color: #456990;
    margin: 0;
    position: relative;
}

.header-div{
    height: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.4rem 2.6rem 0.4rem 89% 11% 0.4rem;
    grid-template-rows: 0.3rem auto 0.3rem;
    justify-content: left;
}

.navigation-bar {
    overflow:hidden;
    background-color: #456990;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}

.logo-div {
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    position: fixed;
}

.logout-button {
    float: left;
    font-size: 0.8rem;
    color: #e4fde1;
    text-align: center;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #114b5f;
    color: #e4fde1;
}

.logout-div {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.logo-ico {
    width: 2.4rem;
    height: auto;
}

.icon {
    width: 2.4rem;
    height: auto;
    border-radius: 50%;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    border: 0.03rem solid;

}

.icon:hover {
    border-radius: 0;
    border: none;
}


.link-buttons {
    float: left;
    font-size: 0.8rem;
    color: #e4fde1;
    text-align: center;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
}

.link-active{
    float: left;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
    color: #f45b69;
}



.link-buttons:hover, .hover-links:hover .dropdownBtn {
    background-color: #114b5f;
    color: #e4fde1;
}

.hover-links {
    float: left;
    overflow: hidden;
}

.hover-links .dropdownBtn {
    font-size: 0.8rem;  
    border: none;
    outline: none;
    color: #e4fde1;
    padding: 0.7rem 0.8rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdownBtn-active {
    color: #f45b69;
    font-size: 0.8rem;  
    border: none;
    outline: none;
    padding: 0.7rem 0.8rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.dropdown-linkovi {
    display: none;
    position: absolute;
    background-color: #456990;
    z-index: 1;
}

.dropdown-linkovi a {
    float: none;
    color: #e4fde1;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-linkovi a:hover {
    background-color: #114b5f;
}

.hover-links:hover .dropdown-linkovi {
    display: block;
  }

  /*HEADER*/
  /*BODY, Content*/

body {
    margin: 0;
    padding: 0;
    padding-bottom: 6%;
    height: 100%;
    min-height:100%;
    -ms-overflow-style: none;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

.main-content {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 3rem 100%;
}

.page-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #456990;
    color: #e4fde1;
    font-size: 1.2rem;
}

.page-title p {
    margin-left: 2rem;
    padding-left: 0.8rem;
    border-left: 0.1rem solid #e4fde1;
}

.content-div {
    background-color: #e4fde1;
    border-top: none;
    position: relative;
    height: fit-content;
    width: 100%;
    padding: 2rem;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1rem 100% 1rem;
}

.o_autoru {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 40% 60%;
}

.mojaslika {
    background-color: white;
    width: auto;
    height: 18rem;
    grid-column-start: 1;
    grid-column-end: 2;
    transition-duration: 1s;
}

.mojaslika:hover {
    
    box-shadow: 0.4rem 0.4rem 0.4rem 0 rgba(59, 59, 59, 0.356), 0 0.2rem 0.5rem 0 rgba(65, 65, 65, 0.356);
}

.autor-info {
    grid-column-start: 2;
    grid-column-end: 3;
}

.info-title {
    color: #456990;
}

.info-text {
    color: #456990;
}

/*POČETNA SADRŽAJ*/

.pocetna-sadrzaj {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 2rem auto auto auto auto auto auto auto 2rem;
    background-color: #e4fde1;
}

.sadrzaj-div-1, .sadrzaj-div-2, .sadrzaj-div-3, .sadrzaj-div-4, .sadrzaj-div-5, .sadrzaj-div-6, .sadrzaj-div-7 {
    color: #456990;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 20% 50% 50% 20%;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 1rem;
    border-bottom: 0.07rem solid #456990;
}

.sadrzaj-div-1 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.sadrzaj-div-2 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.sadrzaj-div-3 {
    grid-row-start: 4;
    grid-row-end: 5;
}

.sadrzaj-div-4 {
    grid-row-start: 5;
    grid-row-end: 6;
}

.sadrzaj-div-5 {
    grid-row-start: 6;
    grid-row-end: 7;
}

.sadrzaj-div-6 {
    grid-row-start: 7;
    grid-row-end: 8;
}
.sadrzaj-div-7 {
    grid-row-start: 8;
    grid-row-end: 9;
}

.sadrzaj {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: left;
    align-self: center;
}

.sadrzaj a {
    color: #f45b69;
}

.sadrzaj-img {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: left;
    align-self: center;
}

.pocetna-sadrzaj-img {
    height: auto;
    width: 3rem;
}


/*REGISTRACIJA i PRIJAVA*/

.registracija-div, .prijava-div, .div-table, .popis-ureda{
    background-color: #e4fde1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 3rem;
}


.universal-form {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    padding: 5%;
    color: #456990;
    text-align: center;
}

.universal-form:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.19);
}

.no-account-link {
    color: #f45b69;
    font-size: 0.7rem;
}

.form-label, .form-input {
    float: left;
    margin-left: 10%;
}

.tablica {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    font-family: sans-serif;
    font-size: 0.7rem;
}

.tablica td, th {
    border: 0.05rem solid #456990;
    color: #456990;
    background-color: white;
}

.tablica th {
    background-color: #cbffc4;
}

.tablica td:hover, th:hover {
    background-color: #e4fde1;
}



/*FOOTER*/

.footer {
    position: fixed;
    background-color: #456990;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 3.5rem;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.copyright-div {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    color: white;
    justify-self: center;
    align-self: center;
    font-family: sans-serif;
}

.footer-email, .footer-ime {
    font-size: 0.8rem;
    justify-self: center;
}

.footer-ime {
    color: #e4fde1;
}

.footer-email {
    color: #f45b69;
}